---
layout: main
---

<section class="events">
 <div class="columns is-centered">
{% assign events_by_date = site.events | sort:endDate | reverse %}
{% for event in events_by_date %}
  <div class="column is-one-quarter">
    <figure class="image is-2by3 poster" data-date="{{ event.endDate | date: '%s' }}">
      <a href="{{ site.baseurl }}event/{{ event.project }}-{{ event.event_code }}">
        {% capture image_path %}assets/images/{{ event.poster }}{% endcapture %}
        {% capture mobile_image_path %}{{ image_path | resize: '600x600>' }}{% endcapture %}
        {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
        {% include lazyload.html image_src=mobile_image_path lq_image_src=lq_image_path %}
      </a>
    </figure>
  </div>
{% endfor %}
 </div>
</section>

<script type="text/javascript">
  var posters = document.getElementsByClassName('poster');
  var now = Date.now() / 1000;
  Array.from(posters).forEach(poster => {
    if (parseInt(poster.getAttribute('data-date')) < now) {
      poster.classList.add('past-event');
    }
  });
</script>