---
layout: main
---

{% assign released_projects = site.projects | where_exp:"project", "project.imageMain" %}

<style type="text/css">
#helper {
  color: white;
  padding: 0.2em;
  border-radius: 5%;
  background-color: grey;
  position: absolute;
  z-index: 20;
}
/* Projects Page */
#carousel-container {
  animation: carousel 9.23s infinite linear;
  animation-play-state: paused;
  transform-style: preserve-3d;
}
#reverse-container {
  animation: carousel 8s infinite linear;
  animation-direction: reverse;
  animation-play-state: paused;
  transform-style: preserve-3d;
}
.turn-on {
  animation-play-state: running !important;
}
.gallery-container {
  perspective: 1000px;
  margin: auto;
  height: 240px;
  transform-style: preserve-3d;
  /*border: 1px solid yellow;*/
}
#helper {
  display: none;
}
#projects-carousel {
  animation: carousel 120s infinite linear;
  transform-style: preserve-3d;
}
#projects-carousel li.project {
  position: absolute;
  top: 50%; left: 50%;
  margin-left: calc(240px / -2);
  transform-style: preserve-3d;
  perspective: 800px;
  overflow: hidden;
}
li.project img {
  image-rendering: auto;
  transition: all 300ms;
  opacity: 0.7;
  filter: blur(1.5px) saturate(0%);
}
li.project img:hover {
  transform: scale(1.03);
  transition: all 300ms ease-in-out;
  filter: blur(0);
  opacity: 1 !important;
}
/* 2 = number of inactive released projects, 5 = total number of projects */
#carousel-start {
  transform: rotateY(calc(2 * 360deg / 5)) scale(1.2);
  transform-style: preserve-3d;
}
{% assign total = released_projects | size %}
{% for i in (1..total) %}
  #projects-carousel li.project:nth-child({{i}}) {
    transform: rotateY(calc( 360deg / {{ total }} * {{i}} )) translateZ(calc(38.2px * {{ total }}));
  }
{% endfor %}
@keyframes carousel {
  from {
    transform: rotateY(0deg);
  } to {
    transform: rotateY(360deg);
  }
}
@keyframes carouselReverse {
  from {
    transform: rotateY(0deg);
  } to {
    transform: rotateY(-360deg);
  }
}
</style>

{% assign projects_by_activate = released_projects | sort: "activate" %}

<section class="projects">
<div id="projects-container" class="gallery-container is-justify-content-center mt-6 is-hidden-touch">
  <span id="helper" class="hidden"></span>
  <div id="carousel-start">
    <div id="reverse-container">
      <div id="carousel-container">
          <ul id="projects-carousel" class="projects-gallery is-relative">
            {% for project in projects_by_activate %}
            <li class="project" data-activate="{{ project.activate }}">
              <a href="{{ site.baseurl }}{{ project.code | downcase }}">
                {% if project.thumbnail %}
                  {% capture image_path %}assets/images/{{ project.thumbnail }}{% endcapture %}
                  {% capture sm_image_path %}{{ image_path | resize: '500x500>' }}{% endcapture %}
                  {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
                  {% include lazyload.html image_src=sm_image_path lq_image_src=lq_image_path %}
                {% elsif project.imageMain %}
                  {% capture image_path %}assets/images/{{ project.imageMain }}{% endcapture %}
                  {% capture sm_image_path %}{{ image_path | resize: '500x500>' }}{% endcapture %}
                  {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
                  {% include lazyload.html image_src=sm_image_path lq_image_src=lq_image_path %}
                {% else %}
                  <div class="is-block placeholder-project"></div>
                {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="projects-mobile-container is-flex-touch is-hidden-desktop is-justify-content-center">
  <ul class="projects-gallery is-relative">
    {% for project in projects_by_activate %}
    <li class="project" data-activate="{{ project.activate }}">
      <a href="{{ site.baseurl }}{{ project.code | downcase }}">
        {% if project.thumbnail %}
            {% capture image_path %}assets/images/{{ project.thumbnail }}{% endcapture %}
            {% capture mobile_image_path %}{{ image_path | resize: '400x400>' }}{% endcapture %}
            {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
            {% include lazyload.html image_src=mobile_image_path lq_image_src=lq_image_path %}
          {% elsif project.imageMain %}
            {% capture image_path %}assets/images/{{ project.imageMain }}{% endcapture %}
            {% capture mobile_image_path %}{{ image_path | resize: '400x400>' }}{% endcapture %}
            {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
            {% include lazyload.html image_src=mobile_image_path lq_image_src=lq_image_path %}
          {% else %}
          <div class="is-block placeholder-project"></div>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript" src="{{ site.baseurl }}assets/js/carousel.js"></script>
</section>