---
layout: main
---

{% assign sorted_buyables = site.buyables | sort %}

<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'secondspring-online.myshopify.com',
      storefrontAccessToken: 'b04f5770c12116f3e3ff95c19779cc97',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        node: document.getElementById('product-component-1651347574069'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "font-family": "Gill Sans, sans-serif",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        ":hover": {
          "background-color": "#238e71"
        },
        "background-color": "#279e7d",
        ":focus": {
          "background-color": "#238e71"
        },
        "border-radius": "2px",
        "padding-left": "32px",
        "padding-right": "32px"
      },
      "quantityInput": {
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px"
      }
    },
    "contents": {
      "img": false,
      "title": false,
      "price": false
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Gill Sans, sans-serif",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        ":hover": {
          "background-color": "#238e71"
        },
        "background-color": "#279e7d",
        ":focus": {
          "background-color": "#238e71"
        },
        "border-radius": "2px",
        "padding-left": "32px",
        "padding-right": "32px"
      },
      "quantityInput": {
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px"
      }
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {},
  "cart": {
    "styles": {
      "button": {
        "font-family": "Gill Sans, sans-serif",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        ":hover": {
          "background-color": "#238e71"
        },
        "background-color": "#279e7d",
        ":focus": {
          "background-color": "#238e71"
        },
        "border-radius": "2px"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    }
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Gill Sans, sans-serif",
        "background-color": "#279e7d",
        ":hover": {
          "background-color": "#238e71"
        },
        ":focus": {
          "background-color": "#238e71"
        }
      },
      "count": {
        "font-size": "14px"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>

<section class="shop">
<!--   <div class="has-text-centered announcement glow-text py-6">
    Items available to purchase soon
  </div> -->
  <div class="tile is-ancestor mx-0">
    {% for buyable in sorted_buyables %}
      <div class="tile is-parent is-3">
        <div class="tile is-child item">
          <a href="{{ site.baseurl }}item/{{ buyable.code | downcase }}">
            <figure class="image is-square">
              {% capture image_path %}assets/images/buyables/{{ buyable.code }}/{{ buyable.images | first }}{% endcapture %}
              {% capture sm_image_path %}{{ image_path | resize: '600x600>' }}{% endcapture %}
              {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
              {% include lazyload.html image_src=sm_image_path lq_image_src=lq_image_path %}
            </figure>
            <p class="has-text-centered item-name">{{ buyable.name }}</p>
            <p class="has-text-centered item-price">${{ buyable.price }}</p>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
  <ul>

  </ul>
</section>