<footer class="footer mt-6 is-transparent">
  <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <h1>Second<br/>Spring</h1>
          <div class="footer-info mt-5">
            Website built by <a href="http://nowme.ca" target="_blank">Naomi Cui</a><br/>
            Last updated {{ site.time | date: '%Y %b %e' }}
          </div>
        </div>
        <div class="column is-one-third">
          <ul>
            <li><a href="{{ site.baseurl }}about">About</a></li>
            <li><a href="https://us14.list-manage.com/contact-form?u=64cffd5c410a34aa48a832464&form_id=c75b49837b71fa306da186c496bc7b73" target="_blank">Contact</a></li>

<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://online.us14.list-manage.com/subscribe/post?u=64cffd5c410a34aa48a832464&amp;id=9ad7be4c92" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
     <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <input type="email" value="" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_64cffd5c410a34aa48a832464_9ad7be4c92" tabindex="-1" value=""></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

          </ul>
        </div>
        <div class="column is-one-third">
          <ul>
          {% for social in site.data.links.socials %}
            <li><a href="{{ social.link }}" target="_blank">{{ social.name }}</a></li>
          {% endfor %}
          </ul>

        </div>
      </div>
  </div>
</footer>