<div class="container">
<div class="nav-container">
<div class="is-hidden-desktop">
  <div class="columns is-centered">
    <div class="column has-text-centered py-5 open-nav">
      (explore?)
    </div>
  </div>
</div>
<nav class="is-hidden-desktop is-justify-content-center is-transparent menu">
  <ul class="menu-list">
    {% for item in site.data.navigation %}
      <li><a class="navbar-item {% if page.url == item.link %}active{% endif %} is-uppercase"
          href="{{ item.link | relative_url }}">
        {{ item.name }}
      </a></li>
    {% endfor %}   
  </ul>
</nav>
<nav class="navbar is-transparent is-justify-content-space-between is-align-items-start pb-5">
  <div class="navbar-menu is-flex-1">
    <div class="navbar-start mt-3">
    {% for item in site.data.navigation %}
    {% if item.align == "left" %}
      <a class="navbar-item {% if page.url == item.link %}active{% endif %} is-uppercase"
          href="{{ item.link | relative_url }}">
        {{ item.name }}
      </a>
    {% endif %}
    {% endfor %}      
    </div>
  </div>

  <div class="navbar-brand is-justify-content-center is-flex-1">
    <a href="{{ site.baseurl }}" class="navbar-item">
      <img src="{{ site.baseurl }}assets/images/THRVHT_SecondSpring_0001-0405_EveetoAEEdited.gif">
    </a>
  </div>

  <div class="navbar-menu is-flex-1">
    <div class="navbar-end mt-3">
    {% for item in site.data.navigation %}
    {% if item.align == "right" %}
      <a class="navbar-item {% if page.url == item.link %}active{% endif %} is-uppercase"
          href="{{ item.link | relative_url }}">
        {{ item.name }}
      </a>
    {% endif %}
    {% endfor %}      
    </div>
  </div>
</nav>
</div>
</div>