{% assign project = site.projects | where:"code", include.code | first %}
{% if project.buyables.size > 0 %} 
<h4 class="mb-4">Related Items</h4>
  <div class="tile is-ancestor is-flex-wrap-wrap">
    {% for buyable_code in project.buyables %}
      {% assign buyable = site.buyables | where:"code", buyable_code | first %}
      {% if buyable.code != include.exclude %}
      <div class="tile is-parent is-2">
        <div class="tile is-child item">
          <a href="{{ site.baseurl }}item/{{ buyable.code | downcase }}">
            <figure class="image is-square">
              {% capture image_path %}assets/images/buyables/{{ buyable.code | upcase }}/{{ buyable.images | first }}{% endcapture %}
              {% capture sm_image_path %}{{ image_path | resize: '600x600>' }}{% endcapture %}
              {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
              {% include lazyload.html image_src=sm_image_path lq_image_src=lq_image_path %}
            </figure>
            <p class="has-text-centered item-name">{{ buyable.name }}</p>
            <p class="has-text-centered item-price">${{ buyable.price }}</p>
          </a>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}