@import "bulma";
@import "responsive";

html {
  background: rgba(230,218,207,1);
  background: linear-gradient(0deg, rgba(240,164,145,1) 0%, rgba(236,186,170,1) 6%, rgba(230,218,207,1) 100%);
  background-attachment: fixed;
  height: 100vh;
}

.content {
  .caption {
    display: block;
    text-align: center;
    font-variant: small-caps;
  }
  ul {
    list-style-type: '\2767';
    margin-left: 1em;
    li {
      padding-left: 0.5rem;
    }
  }
}

.is-fixed {
  position: fixed;
}

.announcement {
  font-variant: all-small-caps;
}

.embed-element {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.bandcamp {
    height: 120px;
  }
  &.bandcamp-album {
    height: 472px;
  }
  iframe {
    position: absolute;
    width: 100%;
    max-width: 700px;
  }
}

h1, h2, h3, h4 {
  font-family: 'Cantique Normal';
}

p {
  margin-bottom: 1em;
  font-variant: common-ligatures;
}

dt, dd {
  display: inline-block;
}

// body > .container {
//   height: 100vh;
// }

// MARQUEE 
.marquee-item {
  .update-item {
    font-variant: all-small-caps;
    color: #363636;
    font-family: sans-serif;
    font-size: 1.5rem;
  }
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
}

$nav-height: 100%;
.open-nav {
  font-variant: all-small-caps;
}
nav {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
  @include from($desktop) {
    height: $nav-height;
  }
  .navbar-brand {
    .navbar-item img {
      max-height: 10rem;
    }
  }
  .navbar-item {
    font-family: 'Cantique Normal';
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

// Mobile Nav
nav.menu {
  .menu-list {
    li a {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
    li:nth-child(1) a {
      padding-left: 1.5rem;
    }
    li:nth-child(2) a {
      padding-left: 3rem;
    }
    li:nth-child(3) a {
      padding-left: 4.5rem;
    }
    li:nth-child(4) {
      text-align: right;
      a {
      padding-right: 1.5rem;
      }
    }
  }
  max-height: 0; 
  overflow: hidden;
  transition: max-height 1s ease-in-out 100ms;
}

.nav-container:hover nav.menu {
  max-height: 500px; // to make transition work
}

li.project {
  // border: 1px solid $turquoise;
  line-height: 0;
  margin: 1rem;
  img {
    width: 240px;
    height: 240px;
    overflow: hidden;
  }
}

span.list-item {
  font-variant: small-caps;
  text-transform: lowercase;
  line-height: 1.2rem;
  &:not(:last-child)::after {
    content: ', ';
  }
}

// SPLASH PAGE
.splash-menu {
  div {
    display: block;
    position: relative;
    font-family: 'Cantique Normal';
    font-size: 2.1rem;
    line-height: 2rem;
  }
  .splash-title {
    font-weight: 600;
  }
  .nav-item {
    text-transform: uppercase;
  }
  div.nav-item:nth-child(1) {
    left: 0rem;
  }
  div.nav-item:nth-child(2) {
    left: 6.5rem;
  }
  div.nav-item:nth-child(3) {
    left: 7.8rem;
  }
  @include mobile {
    .splash-title {
      margin: 60px auto;
    }
    .column {
      padding: 0 2rem;
    }
    .nav-item {
      padding-left: 0;
    }
  }
  @include tablet-only {
    .splash-title {
      margin: 0 auto;
      max-width: 450px;
      img {
        width: 100%;
      }
    }
    div {
      font-size: 3rem;
      line-height: 2.9rem;
    }
    div.nav-item:nth-child(1) {
      left: 0rem;
    }
    div.nav-item:nth-child(2) {
      left: 6.5rem;
    }
    div.nav-item:nth-child(3) {
      left: 7.8rem;
    }
  }
  @include desktop {
    div {
      font-size: 5rem;
      line-height: 4.7rem;
    }
    div.nav-item:nth-child(1) {
      left: 0rem;
    }
    div.nav-item:nth-child(2) {
      left: 11rem;
    }
    div.nav-item:nth-child(3) {
      left: 15rem;
    }
  }
}

// PROJECTS CAROUSEL
/* most of the css is on the page inline */
section.projects {
  min-height: 70vh;
  .placeholder-project {
    width: 240px;
    height: 240px;
    background: rgba(250,255,249,0.3);
  }
  .project.active img {
      opacity: 0.9;
      filter: blur(0px) saturate(100%);
  }
}

// PROJECT PAGE
.project-content {
  .side-text {
    font-size: smaller;
    line-height: 1.2rem;
  }
  .main-description p {
    line-height: 1.5;
    img {
      width: 100%;
    }
    &:first-child::first-letter {
      font-family: 'Cantique Normal';
      font-size: 150%;
      float: left;
      background-color: $text;
      box-shadow: 3px 3px 0 $text-invert;
      color: $text-invert;
      padding: 5px 4px;
      border-radius: 1px;
      margin-right: 6px;
    }
    img + em {
      font-variant: small-caps;
      text-align: center;
      display: block; 
    }
  }
  .project-title {
    font-family: "Century", "Georgia", serif;
    font-size: 1.4rem;
    font-weight: 600;
    font-variant: all-small-caps;
    letter-spacing: 0.1rem;
    line-height: 0.8;
  }
  .artist-link {
    font-variant: all-small-caps;
  }
  h1 {
    text-align: center;
    margin: 2em 0 !important;
  }
  h2 {
    margin: 3rem 0 2rem 0 !important;
  }
}

// BUYABLE PAGE
section.buyable {
  .shopify-buy-frame {
    margin: 0 auto;
  }
  .is-fixed {
    top: 200px; // nav height
  }
  .description {
    p, li {
      font-size: 0.75rem;
      text-align: justify;
      text-align-last: center;
    }
  }
  .is-hidden-touch {
    .buyable-desc-container {
      .additional-info {
        dd {
          display: none;
        }
        &:hover dd {
          display: block;
        }
      }
    }
  }
  .additional-info {
    font-size: 0.7rem;
    text-align: justify;
    dl {
      dt {
        font-variant: all-small-caps;
      }
    }
  }
  .creator-info {
    dd {
      font-style: oblique;
    }
  }
  .buyable-img-container {
    position: relative;
  }
  .buyable-desc-container {
    background: rgba(250, 244, 240, 0.9);
    h2 {
      font-size: 1.7rem;
      overflow-wrap: anywhere;
    }
    .description {

    }
  }
}

// BUYABLE ITEM
.tile.item {
  .item-name {
    font-size: 1rem;
    font-variant: all-small-caps;
    color: $text;
  }
  p {
    margin: 0.5rem 0;
    line-height: 1;
  }
}
section.buyable {
  .related {
    z-index: 100;
    display: block;
  }
}

// SHOP PAGE
section.shop {
  .is-ancestor {
    flex-wrap: wrap;
    // .is-child.item {
    //   flex-basis: 20%;
    // }
  }
}

.glow-text {
  text-shadow: 
    0 0 5px $accent, 0 0 10px $accent,
    0 0 20px $accent, 0 0 40px $accent;
  animation: pulse 8s infinite;
}
@keyframes pulse {
  0% {
    text-shadow:
      0 0 5px $accent, 0 0 10px $accent,
      0 0 20px $accent, 0 0 40px $accent;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow:
      0 0 5px $accent, 0 0 10px $accent,
      0 0 20px $accent, 0 0 40px $accent;
  }
}

.poster.past-event {
  opacity: 0.6;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  &:hover {
    opacity: 1;
  }
}

.event-content {
  .event-title {
    font-family: "Century", "Georgia", serif;
    font-size: 1.4rem;
    font-weight: 600;
    font-variant: all-small-caps;
    letter-spacing: 0.1rem;
    line-height: 0.8;
  }
  h2 {
    margin: 3rem 0 2rem 0 !important;
  }
  h3 {
    // font-family: "Century", "Georgia", serif;
    // font-variant: all-small-caps;
    // font-weight: 800;
    // margin: 0.5rem 0;
  }
}

footer {
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3rem;
  }
  a {
    color: $text;
    font-variant: all-small-caps;
  }
  .footer-info {
    font-size: 0.6rem;
    font-family: monospace !important;
    a {
      text-decoration: underline dotted;
      font-variant: none;
    }
  }
}

/* FORM */

input#mc-embedded-subscribe {
    font-variant: all-small-caps;
    padding: 0.2rem 0.7em;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 1px;
    color: #363636;
    height: 30px;
}
input#mce-EMAIL {
    height: 30px;
    margin-right: -5px;
}
div#mc_embed_signup {
    margin: 1em 0;
}