---
layout: main
---

{% assign project_downcase = page.project | downcase %}

<section class="buyable">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">

        {% assign total_images = page.images | size %}
        {% for i in (0..total_images) %}
        {% if i == total_images %}
         {% break %}
        {% else %}
        <div class="buyable-img-container mb-6">
          {% assign imageUrl = page.images | slice: i %}
          <figure class="image block">
            {% capture image_path %}assets/images/buyables/{{ page.code }}/{{ imageUrl }}{% endcapture %}
            {% capture lg_image_path %}{{ image_path | resize: '1600x1600>' }}{% endcapture %}
            {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
            {% include lazyload.html image_src=lg_image_path lq_image_src=lq_image_path %}
          </figure>
        </div>
          {% if i == 0 %}
          <div class="buyable-desc-container p-5 mx-5 mb-6 is-hidden-desktop">
            <h2 class="has-text-centered my-1">{{ page.name }}</h2>
            <div class="description my-3">
              {{ content }}
              <div class="price has-text-centered">
                {% assign price = page.price | append: "" %}
                <strong>{{ price }} CAD</strong> <em>(excl. shipping)</em>
              </div>

<div id='product-component-{{ page.shopify_component_id }}-a'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'secondspring-online.myshopify.com',
      storefrontAccessToken: 'b04f5770c12116f3e3ff95c19779cc97',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '{{ page.shopify_product_id }}',
        node: document.getElementById('product-component-{{ page.shopify_component_id }}-a'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "font-family": "Gill Sans, sans-serif",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        ":hover": {
          "background-color": "#238e71"
        },
        "background-color": "#279e7d",
        ":focus": {
          "background-color": "#238e71"
        },
        "border-radius": "2px",
        "padding-left": "32px",
        "padding-right": "32px"
      },
      "quantityInput": {
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px"
      }
    },
    "contents": {
      "img": false,
      "title": false,
      "price": false
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Gill Sans, sans-serif",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        ":hover": {
          "background-color": "#238e71"
        },
        "background-color": "#279e7d",
        ":focus": {
          "background-color": "#238e71"
        },
        "border-radius": "2px",
        "padding-left": "32px",
        "padding-right": "32px"
      },
      "quantityInput": {
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px"
      }
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {},
  "cart": {
    "styles": {
      "button": {
        "font-family": "Gill Sans, sans-serif",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        ":hover": {
          "background-color": "#238e71"
        },
        "background-color": "#279e7d",
        ":focus": {
          "background-color": "#238e71"
        },
        "border-radius": "2px"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    }
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Gill Sans, sans-serif",
        "background-color": "#279e7d",
        ":hover": {
          "background-color": "#238e71"
        },
        ":focus": {
          "background-color": "#238e71"
        }
      },
      "count": {
        "font-size": "14px"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>

            </div>
            <div class="additional-info">
              {% if page.release %}
              <dl class="mb-2">
                <dt>Release date&emsp;<strong>{{ page.release }}</strong></dt>
              </dl>
              {% endif %}

              {% assign all_projects = site.projects | map: "code" %}
              {% if all_projects contains project_downcase %}
              {% assign project = site.projects | where: "code", project_downcase | first %}
              <div class="project-info">
                <dl class="mb-2">
                  <dt>Project&emsp;<a href="{{ site.baseurl }}{{ project.code | downcase }}"><strong>{{ project.name }}</strong></a></dt>
                  <dd>{{ project.summary }}</dd>
                </dl>
              </div>
              <div class="creator-info">
                <dl class="mb-2">
                  <dt>Artist{% if project.artists.size > 1 %}s{% endif %}&emsp;
                    <strong>
                      {% for artist in project.artists %}
                      <span class="list-item">{{ artist }}</span>
                      {% endfor %}
                    </strong>
                  </dt>
                  <dd>{{ project.artistbio }}</dd>
                </dl>
              </div>
              {% endif %}
            </div>
          </div>
          {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="columns is-hidden-touch is-overlay is-fixed">
      <div class="column is-three-fifths"></div>
      <div class="column is-two-fifths">
        <div class="buyable-desc-container p-5 m-5">
          <h2 class="has-text-centered my-1">{{ page.name }}</h2>
          <div class="description my-3">
            {{ content }}
            <div class="price has-text-centered">
              {% assign price = page.price | append: "" %}
              <strong>{{ price }} CAD</strong> <em>(excl. shipping)</em>

<div id='product-component-{{ page.shopify_component_id }}-b'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'secondspring-online.myshopify.com',
      storefrontAccessToken: 'b04f5770c12116f3e3ff95c19779cc97',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '{{ page.shopify_product_id }}',
        node: document.getElementById('product-component-{{ page.shopify_component_id }}-b'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "font-family": "Gill Sans, sans-serif",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        ":hover": {
          "background-color": "#238e71"
        },
        "background-color": "#279e7d",
        ":focus": {
          "background-color": "#238e71"
        },
        "border-radius": "2px",
        "padding-left": "32px",
        "padding-right": "32px"
      },
      "quantityInput": {
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px"
      }
    },
    "contents": {
      "img": false,
      "title": false,
      "price": false
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Gill Sans, sans-serif",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        ":hover": {
          "background-color": "#238e71"
        },
        "background-color": "#279e7d",
        ":focus": {
          "background-color": "#238e71"
        },
        "border-radius": "2px",
        "padding-left": "32px",
        "padding-right": "32px"
      },
      "quantityInput": {
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px"
      }
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {},
  "cart": {
    "styles": {
      "button": {
        "font-family": "Gill Sans, sans-serif",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        ":hover": {
          "background-color": "#238e71"
        },
        "background-color": "#279e7d",
        ":focus": {
          "background-color": "#238e71"
        },
        "border-radius": "2px"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    }
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Gill Sans, sans-serif",
        "background-color": "#279e7d",
        ":hover": {
          "background-color": "#238e71"
        },
        ":focus": {
          "background-color": "#238e71"
        }
      },
      "count": {
        "font-size": "14px"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>

            </div>
          </div>
          <div class="additional-info">
            {% if page.release %}
            <dl class="mb-2">
              <dt>Release date&emsp;<strong>{{ page.release }}</strong></dt>
            </dl>
            {% endif %}

            {% assign all_projects = site.projects | map: "code" %}
            {% if all_projects contains project_downcase %}
            {% assign project = site.projects | where: "code", project_downcase | first %}
            <div class="project-info">
              <dl class="mb-2">
                <dt>Project&emsp;<a href="{{ site.baseurl }}{{ project.code | downcase }}"><strong>{{ project.name }}</strong></a></dt>
                <dd>{{ project.summary }}</dd>
              </dl>
            </div>
            <div class="creator-info">
              <dl class="mb-2">
                <dt>Artist{% if project.artists.size > 1 %}s{% endif %}&emsp;
                  <strong>
                    {% for artist in project.artists %}
                    <span class="list-item">{{ artist }}</span>
                    {% endfor %}
                  </strong>
                </dt>
                <dd>{{ project.artistbio }}</dd>
              </dl>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-two-thirds px-4">
        <div class="related px-6">
        {% capture project_code %}{{ project_downcase }}{% endcapture %}
        {% capture self_item_code %}{{ page.code }}{% endcapture %}
        {% include related_items.html code=project_code exclude=self_item_code %}
        </div>        
      </div>
    </div>
  </div>
</section>