<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Primary Meta Tags -->
    <title>Second Spring</title>
    <meta name="title" content="Second Spring">
    <meta name="description" content="Second Spring is a loose affiliation of collaborators that create experimental sound and art and produces vinyl records, online projects, and events.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://secondspring.online">
    <meta property="og:title" content="Second Spring">
    <meta property="og:description" content="Second Spring is a loose affiliation of collaborators that create experimental sound and art and produces vinyl records, online projects, and events.">
    <meta property="og:image" content="https://secondspring.online/assets/images/{{ site.data.links.logo_image }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://secondspring.online">
    <meta property="twitter:title" content="Second Spring">
    <meta property="twitter:description" content="Second Spring is a loose affiliation of collaborators that create experimental sound and art and produces vinyl records, online projects, and events.">
    <meta property="twitter:image" content="https://secondspring.online/assets/images/{{ site.data.links.logo_image }}">

    <meta name="keywords" content="experimental, art, arts, music, sound, vinyl, occult, esoterica, symbols, psychic, canada, canadian, artists, musicians, creators">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">


    <title>Second Spring</title>

    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/styles.css">

    <script type="text/javascript" src="{{ site.baseurl }}assets/js/scripts.js" async></script>

    <script src="{{ site.baseurl }}assets/js/lazysizes.min.js" async></script>

    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/64cffd5c410a34aa48a832464/0df59556000433fffb6e2dfda.js");</script>
  </head>
  <body>
      {{ content }}
  </body>
</html>