---
layout: main
---

<section class="event-content section">
{% if page.poster %}
<div class="event-poster-splash mb-6">
  <figure class="image">
    {% capture image_path %}assets/images/{{ page.poster }}{% endcapture %}
    {% capture lg_image_path %}{{ image_path | resize: '1600x1600>' }}{% endcapture %}
    {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
    {% include lazyload.html image_src=lg_image_path lq_image_src=lq_image_path %}
  </figure>
</div>
{% endif %}

{% if page.event_title %}
<div class="columns is-centered">
  <div class="column is-two-thirds has-text-justified">
    <h1 class="event-title has-text-centered">{{ page.event_title }}</h2>
  </div>
</div>
{% endif %}

<div class="columns is-vcentered is-centered">
  <div class="column is-one-third">
    {% if page.location %}
    <div class="has-text-justified has-text-centered-mobile">
      <h4>Location</h4>
      <span class="list-item">{{ page.location }}</span>
    </div>
    {% endif %}
    {% if page.startDate %}
    <div class="has-text-centered-mobile mt-5">
      <h4>Date</h4>
      {% assign today_date = 'now' | date: '%s' %}
      {% assign pre_date = page.endDate | date: '%s' %}
      <span class="list-item{% if today_date < pre_date %} glow-text{% endif %}">{% if page.endDate != page.startDate %}{{ page.startDate | date: '%B %e, %Y' }} to {{ page.endDate | date: '%B %e, %Y' }}{% else %}{{ page.startDate | date: '%B %e, %Y' }}{% endif %}</span>
    </div>
    {% endif %}
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-one-third">
    <div class="has-text-centered">
      [<a href="{{ site.baseurl }}{{ page.project }}">{{ page.project }}</a>]
    </div>
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-two-thirds has-text-justified content">
    {% if page.ticket_link %}<div class="has-text-centered"><a href="{{ page.ticket_link }}"><strong>( GET TICKETS )</strong></a></div>{% endif %}
    {{ content }}
    {% if page.ticket_link %}<div class="has-text-centered"><a href="{{ page.ticket_link }}"><strong>( GET TICKETS )</strong></a></div>{% endif %}
  </div>
</div>
</section>
