---
layout: default
---

{% include nav_header.html %}

<div class="container">
  <section class="section">
    <div class="content">
      {{ content }}
    </div>  
  </section>
</div>

{% include footer.html %}