---
layout: main
---

{% if page.imageMain %}
<section class="hero is-hidden-mobile">
  <figure class="image is-fullwidth">
    {% capture image_path %}assets/images/{{ page.imageMain }}{% endcapture %}
    {% capture lg_image_path %}{{ image_path | resize: '1600x1600>' }}{% endcapture %}
    {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
    {% include lazyload.html image_src=lg_image_path lq_image_src=lq_image_path %}
  </figure>
</section>
{% endif %}

<section class="project-content section">
<div class="columns is-centered">
  <div class="column is-two-thirds has-text-justified">
    <h2 class="project-title has-text-centered">{{ page.name }}</h2>
  </div>
</div>

<div class="columns is-vcentered is-centered">
  <div class="column is-one-third">
    {% if page.artists %}
    <div class="has-text-justified has-text-centered-mobile">
      <h4>Artist{% if page.artists.size > 1 %}s{% endif %}</h4>
      {% for artist in page.artists %}
      <span class="list-item">{{ artist }}</span>
      {% endfor %}
    </div>
    {% endif %}
    {% if page.addtlinfo %}
    <div class="has-text-justified has-text-centered-mobile mt-5">
      <div class="side-text">
        {{ page.addtlinfo }}
      </div>
    </div>
    {% endif %}
    {% if page.releasedate %}
    <div class="has-text-centered-mobile mt-5">
      <h4>Release</h4>
      {% assign today_date = 'now' | date: '%s' %}
      {% assign pre_date = page.releasedate | date: '%s' %}
      <span class="list-item{% if today_date < pre_date %} glow-text{% endif %}">{% if page.release %}{{ page.release }}{% else %}{{ page.releasedate | date: '%B %e, %Y' }}{% endif %}</span>
    </div>
    {% endif %}
  </div>
  {% if page.imageMain %}
  <div class="column is-three-fifths has-text-justified is-hidden-tablet">
    <figure class="image is-fullwidth">
      {% capture image_path %}assets/images/{{ page.imageMain }}{% endcapture %}
      {% capture mobile_image_path %}{{ image_path | resize: '600x600>' }}{% endcapture %}
      {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
      {% include lazyload.html image_src=mobile_image_path lq_image_src=lq_image_path %}
    </figure>
  </div>
  {% endif %}
  {% if page.artistbio %}
  <div class="column is-one-third">
    <div class="has-text-justified">
      <h4 class="mt-5">Artist Info</h4>
      <div class="side-text">
        {{ page.artistbio }}
        {% if page.artistlinks %}
          {% for link in page.artistlinks %}
          [<a href="{{ link | slice: 1 }}" target="_blank" class="artist-link">{{ link | slice: 0 }}</a>]&nbsp;
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
<div class="columns is-centered mt-5">
  <div class="column has-text-justified main-description is-two-thirds content">
    {% if page.imageMain %}
    {{ content }}
    {% else %}
    <h4 class="has-text-centered">Coming Soon</h4>
    {% endif %}
  </div>
</div>
{% capture project_code %}{{ page.code }}{% endcapture %}
{% include related_items.html code=project_code %}
</section>