---
layout: default
---

<marquee class="fixed-top my-2">
    <span class="marquee-item">
      {% for item in site.data.updates %}
       <span class="update-item mx-6">{{ item.update }}</span>
      {% endfor %}
    </span>
</marquee>

<div class="splash-menu columns mt-6">
  <div class="column is-one-third">
    <div class="splash-title px-6">
      <img src="{{ site.baseurl }}assets/images/SS_logo.gif" />
    </div>
  </div>
  <div class="column is-two-thirds">
  {% for item in site.data.navigation %}
    {% if item.align == "left" %}
    <div class="nav-item">
      <a href="{{ item.link | relative_url }}" class="{% if page.url == item.link %}current{% endif %}">{{ item.name }}</a>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<marquee class="fixed-bottom my-2">
    <span class="marquee-item">
      {% for item in site.data.updates %}
       <span class="update-item mx-6">{{ item.update }}</span>
      {% endfor %}
    </span>
</marquee>